<% include ./partials/header.ejs %>

    <div id="containerWidth" class="ui main container segment">
        <div class="ui huge header"><%= blog.title %></div>
        <div class="ui top attached">
            <div class="item">
                <img id="showImage" class="ui centered rounded image" src="<%= blog.image %>">
                <div class="content">
                    <%= blog.created.toDateString() %>
                </div>
                <div class="ui container">
                    <p><%- blog.body %></p>
                    <!-- dash to render code in text e.g. bold text/<strong> tag -->
                </div>
                <% if(currentUser){ %>
                    <a class="ui orange button" href="/blogs/<%= blog._id %>/edit">Edit</a>
                    <form id="btnAlign" action="/blogs/<%= blog.id %>/?_method=DELETE" method="POST">
                        <button class="ui red button">Delete</button>
                    </form>
                <% } %>
            </div>
        </div>
    </div>

<% include ./partials/footer.ejs %>